CLOUDFLARE_API_TOKEN=
CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_ZONE_ID=
CLOUDFLARE_R2_BUCKET=skjaldr
CLOUDFLARE_D1_DATABASE_ID=
PUBLIC_BASE_URL=https://odin.med.br
APP_API_TOKEN=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
MAX_VIDEO_SIZE_BYTES=1073741824
VIDEO_RETENTION_DAYS=0
